/* Fonts from Google Fonts - more at https://fonts.google.com */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 15px 10px 50px 10px;
  background-color: #0d3158;
  background-image: url(Folder/chip.svg);
  background-repeat: repeat;
  background-size: 200px;
}

.title {
  color: white;
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 202px;
}
/* The shine on the card when you hover over it */
/*
.sheen {
  position: absolute;
  top: 0;
  left: -20%;
  width: 140%;
  height: 0%;
  background: white;
  animation: sheen infinite .5s ease-in-out;
  display: none;
  transform: rotate(-7deg);
}

@keyframes sheen {
  0% {
    top: -10%;
    height: 0%;
    opacity: 0;
  }
  25% {
    top: -10%;
    height: 20%;
    opacity: .3;
  }
  50% {
    top: 20%;
    height: 50%;
    opacity: .5;
  }
  75% {
    top: 110%;
    height: 20%;
    opacity: .3;
  }
  100% {
    top: 110%;
    height: 0%;
    opacity: 0;
  }
}

*/